@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --cor-fundo-primaria: #fff;
    --cor-fonte-primaria: #1B1B1B;
    --cor-fonte-secundaria: #cf5c1a;
    --cor-fonte-focus: #fff;
    --cor-fundo-secundaria: #343434;
    --gradiente-botao-padrao: linear-gradient(91deg, #BD6029 3.86%, #E9A061 98.52%);
    --margem-padrao: 1.5rem;
}

#linhaguia1{
    border: 1px solid green;
}

#linhaguia2{
    border: 1px solid red;
}

#cabecalho{
    background-color: var(--cor-fundo-primaria);
    height: 6rem;
    width: 100%;
}

#cabecalho .logoArea{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cabecalho .logoArea img{
    width: 70%;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: right;
}

.menu .categoriaMenu{
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
}

.menu .categoriaMenu a{
    text-decoration: none;
    color: var(--cor-fonte-secundaria);
}

.menu .categoriaMenu a:focus{
    background-color: var(--cor-fundo-secundaria);
    padding: 10px;
    border-radius: 19px;
    color: var(--cor-fonte-focus);
}

.menu .loginButton{
    background: var(--gradiente-botao-padrao);
    padding: 7px;
}

.menu a .loginButton{
    color: #fff;
    text-decoration: none;
}